:root {
  /* Fonts */
  --primary-font: "Robobo", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color back-ground*/
  --background-color: #e5e5e5;
  --secondary-bg-color: #2e2f42;
  /* Text color */
  --logo-text-color: #4d5ae5;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.logo-link,
.logo-world {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.85;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-text-color);
}
.logo-world {
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  font-style: normal;
  text-decoration: none;
}
/* reset start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  text-transform: capitalize;
  color: inherit;
}

/* nav */
.header-nav-link {
  color: #2e2f42;
  font-family: inherit font-weight 500;
}

.contscts-link {
  font-weight: 400;
  color: var(--secondary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.contscts-link:hover,
.contscts-link:focus {
  color: #404bbf;
}
.header-nav-link:active {
  text-decoration: underline;
  color: #404bbf;
}

/* hero section */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 0.93;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Strategy section */
.strategy-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  color: inherit;
}
.strategi-subtitle-desc {
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* Team section */
.team {
  background: #f4f4fd;
}
.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.team-position {
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* footer section */
.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  background-color: var(--secondary-bg-color);
}
.section {
}
.fotter-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.85;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-text-color);
}
.studio-world {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 0.85;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-desc {
  position: absolute;
  font-family: inherit;
  color: #f4f4fd;
}
